<!DOCTYPE html>
<html>
<head>
    <title>StockPulse Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>📈 StockPulse Dashboard</h1>

<div class="container">
    <button onclick="loadData('INFY')">INFY</button>
    <button onclick="loadData('TCS')">TCS</button>
    <button onclick="loadData('RELIANCE')">RELIANCE</button>
    <button onclick="loadData('ITC')">ITC</button>
</div>

<div id="result"></div>

<script src="/static/script.js"></script>

</body>
</html>
